body {
    background-image: url('https://thumbs.dreamstime.com/b/logistics-import-export-background-transport-industry-container-cargo-freight-ship-sunset-sky-137520342.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}