body{
    background-image: url("https://png.pngtree.com/png-vector/20230213/ourmid/pngtree-circle-phone-call-icon-in-black-color-png-image_6596895.png")
    background-size: cover;
    background-repeat: no-repeat;
}